@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,700;1,600&display=swap');

body{
    background-color: #263859;
    color: $gray-400; 
    font-family: 'Montserrat',sans-serif;
}
.text-nav:hover{
    background: $gray-900;
    border-radius: 10px;
}
.card{
    background-color: #115173;
}
.text-story{
    color: $gray-400;
}
.text-me{
    color: $yellow;
}
.rounded-image{
    background: url(./assets/images/rounded-html.png) no-repeat center;
    height: 100%;
}
.input-post{
    font-weight: bold;
}
.input-post:focus{
    box-shadow: inset 0 -1px 0 #fff;
}
.text-footer-first{
    color: $yellow;
}
.my-profile{
    transition: .2s;
}
.my-profile:hover{
    border: 5px solid #263859;
    border-radius: 100%;
    transform: scale(1.2);
}
.form-check-input{
    cursor: pointer;
}
.image-icons{
    transition: .2s;
}
.image-icons:hover{
    transform: scale(1.7);
}

.footer{
    background-color: #115173;
}
@media screen and (max-width: 576px) { 
    .text-saya{
        margin: auto;
    }
    .text-nav:hover{
        background: transparent;
    }
    // .icons{
    //     position: fixed;
    //     top: 50px;
    //     margin-left: 15px;
    // }
.bg-nav-mobile{
    background: #263859;
    } 
}
